* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main: #182948;
    --white:#fff;
    --dark-black:#000;
    --dark-green:#046504;
    --light-green:#37bf37;
    --light-blue:#243b64;
    --sub-text:#df7a6d;
    --baby-blue:#146476;
    --background-color: #121212;
    --text-color: #ffffff;
    --link-color: #bb86fc;
    --footer-background: #1f1f1f;
}
@font-face {
    font-family: TechMono;
    src: url(../webfonts/ShareTechMono-Regular.woff) format("woff");
}
@font-face {
    font-family: TechHead;
    src: url(../webfonts/BebasNeue-Regular.woff) format("woff");
}
html {
    font-size: 16px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    scroll-behavior: smooth;
}
.footer-section h3{
    color: var(--sub-text);
}
.btn {
    display: inline-block;
    text-decoration: none;
    height: 38px;
    width: 130px;
    color: var(--dark-black);
    background: var(--white);
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    border-radius: 30px;
    font-weight: 600;
}
.container {
    margin-left: 15px;
    margin-right: 15px;
}

p {
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 20px;
}

#mainMenu {
    width: 100%;
    position: absolute;
    margin-bottom: 10px;
}

#mainMenu h2 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.8rem;
}

#mainMenu h2 span {
    color: var(--dark-green);
    font-size: 2.2rem;
}

#mainMenu img {
    width: 30px;
    height: 30px;
}

#mainMenu div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

#mainMenu nav {
    width: 100%;
    padding-top: 30px;
}

#mainMenu label {
    color: var(--white);
    border: thin solid var(--white);
    padding: 0 5px 2px;
    border-radius: 3px;
}


#mainMenu a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 15px;
    display: block;
    text-align: center;
}


#menuBtn {
    display: none;
}

#menuBtn+nav {
    display: none;
}

#menuBtn:checked+nav {
    display: block;
}

#sec-1{
    background-color: var(--main);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/sec-111.jpg);
    background-position: center;
    background-size: cover;
}
#sec-1 .container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
#sec-1 .container #left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sec-1 .container #left p{
    margin: 20px 0 25px 0;
    text-align: justify;
    width: 100%;
    font-size: 1.15rem;
}
#sec-1 .container #left h1{
    font-size: 1.8rem;
    text-shadow: 0px 5px 4px var(--sub-text);
    letter-spacing: 2px;
    margin-top: 20px;
    color: #82d0ff;
    font-family: TechHead;
    text-transform:uppercase;
}
#sec-1 .container #right {
    width:75%;
    margin-top: 30px;
}
#sec-1 .container #right img {
    max-width: 100%;
    margin-top: 40px;
}
#sec-2{
    background: url(../images/sec-111.jpg);
    background-size: cover;
    background-position-y: 40%;
}
#sec-2 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: var(--main);
    padding: 10px 10px;
    border-radius:5px ;
    position: relative;
}
.moving-gif2 {
    position: absolute;
    top: -41px;
    left: -9px;
    width: 85px;
}
#sec-2 .container h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--white);
    margin: 20px 0 20px 0;
    letter-spacing: 2px;
    text-shadow: 0px 5px 2px var(--sub-text);
}
#sec-2 .container summary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#sec-2 .container summary .left {
    width: 100%;
    background-color: var(--light-blue);
    padding: 50px;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px var(--baby-blue);
    margin-bottom: 25px;
}
#sec-2 .container summary .left h3 {
    font-size: 1.3rem;
    margin: 0 0 10px 0;
    color: var(--white);
}
#sec-2 .container summary .left p {
    font-size: 1.1rem;
    color: var(--sub-text);
}
#sec-2 .container summary .right {
    display: none;
    width: 48%;
}
#sec-2 .container summary img{
    max-width: 100%;
}

#sec-3{
    background: url(../images/sec-111.jpg);
    background-size: cover;
    background-position-y:40%;
}
#sec-3 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: var(--main);
    padding: 10px 10px;
}
#sec-3 .container .card{
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    border: 3px solid var(--main);
    box-shadow: 0px -1px 20px 0;
    border-radius: 6px;
    padding: 30px;
    margin: 20px;
}
#sec-3 .container .card .icn{
    width: 50px;
    height: 50px;
    background-color: var(--sub-text);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    z-index: 1;
}
#sec-3 .container .card .icn .fa-car,
#sec-3 .container .card .icn .fa-camera,
#sec-3 .container .card .icn .fa-robot{
    font-size: 25px;
    color: var(--white);
}
#sec-3 .container .card .back-icn {
    font-size: 170px;
    position: absolute;
    right: -5px;
    bottom: -12px;
    color: var(--sub-text);
    opacity: 0.15;
}
#sec-3 .container .card .icn{
    width: 50px;
    height: 50px;
    background-color: var(--sub-text);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#sec-3 .container .card p{
    text-align: justify;
    color: var(--sub-text);
    z-index: 1;
}
#sec-3 .container .card h3 {
    color: var(--white);
    z-index: 1;
}

.footer {
    text-align: center;
    background-image: url(../images/sec-111.jpg);
    background-position-y: 128%;
    background-position-x: 31%;
    background-size: cover;
}

.footer-container {
    background-color: #061738;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-section p {
    margin: 5px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.social-icons img {
    width: 100%;
    height: auto;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        width: 520px;
        margin-left: auto;
        margin-right: auto;
    }
    #sec-1 .container{
        height: 100vh;
    }
    #sec-1 .container #right {
        width: 65%;
    }
    #sec-1 .container #left h1 {
        font-size:2.7rem;
        margin: 30px 0 0px 0;
    }
    #sec-1 .container #left p{
        font-size: 1.25rem;
    }
    #sec-1 .container .btn{
        width: 200px;
        height: 42px;
        line-height: 38px;
    }
    #sec-3 .container .card{
        height: 300px;
    }
    #sec-3 .container .card h3{
        font-size: 1.3rem;
        margin: 10px  0 10px 0;
    }
    #sec-3 .container .card p {
        font-size: 1.05rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .container {
        width: 710px;
    }
    #sec-1{
        padding: 20px 0 30px 0;
    }
    
    #sec-1 .container #left{
        width: 100%;
    }
    #sec-1 .container #left{
        font-size: 16px;
        line-height: 25px;
    }
    #sec-1 .container #left h1{
        font-size: 3.2rem;
        margin: 50px 0 10px;
    }
    #sec-1 .container #left p {
        font-size: 1.2rem;
        width: 80%;
        font-weight: 500;
        margin: 30px 0 30px;
    }
    #sec-1 .container #right {
        width: 60%;
    }
    #sec-1 .container {
        height: 100vh;
    }
    #sec-2 .container h2 {
        font-size: 2.7rem;
        margin: 30px 0 40px;
    }
    #sec-2 .container summary .left h3 {
        font-size: 1.7rem;
    }

    #sec-3 .container .card {
        height: 300px;
    }

    #sec-3 .container .card h3 {
        font-size: 1.5rem;
        margin: 15px 0;
    }

    #sec-3 .container .card p {
        font-size: 1.1rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 930px;
    }
    /* #mainMenu{
        background-color: rgb(0, 0, 0, 0.4);
    } */
    #sec-1 .container {
        flex-direction: row;
        justify-content: space-between;
    }
    #mainMenu div.container {
        flex-wrap: nowrap;
        padding: 0;
    }

    #menuBtn+nav,
    #menuBtn:checked+nav {
        display: flex;
        width: auto;
        padding-top: 0;
        background-color: transparent;
    }

    #mainMenu label {
        display: none;
    }

    #mainMenu a {
        border-bottom: 5px solid transparent;
        padding-left: 35px;
        padding-right: 35px;
        transition: 0.4s all ease;
    }
    
    #sec-1 .container #right{
        width: 45%;
    }
    #sec-1 .container #left {
        width: 50%;
        align-items: flex-start;
        height: 38vh;
        justify-content: space-around;
    }
    #sec-1 .container #left p{
        font-size: 1.35rem;
        width: 100%;
        line-height: 35px;
        font-weight: 500;
        margin: 30px 0 30px;
    }
    #sec-1 .container .btn {
        width: 200px;
        font-size: 1.4rem;
        height: 50px;
        line-height: 50px;
    }
    #sec-1 .container .btn:hover {
        width: 200px;
        box-shadow: 0px 0px 20px 3px #811094;
        font-size: 1.4rem;
        color:#811094 ;
        height: 50px;
        line-height: 50px;
    }

    #sec-2 .container h2{
        font-size: 3.5em;
    }
    #sec-2 .container summary .left h3 {
        font-size: 2.3rem;
            text-transform: uppercase;
    }
    #sec-2 .container summary {
        justify-content: space-around;
        height: 50vh;
    }
    #sec-2 .container summary .left{
        all: unset;
        width: 50%;
    }
    #sec-2 .container summary .right {
        display: block;
        width: 40%;
    }
    #sec-2 .container summary .right img{
        display: block;
    }
    #sec-2 .container .rev {
        flex-direction: row-reverse;
    }
    #sec-3 .container  {
        flex-direction: row;
    }
    #sec-3 .container .card {
        height: 400px;
        width: 45%;
    }
    #sec-3 .container .card:last-child {
        width: 100%;
    }

    #sec-3 .container .card h3 {
        font-size: 1.5rem;
        margin: 15px 0;
    }

    #sec-3 .container .card p {
        font-size: 1.1rem;
    }
.track {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
}
#sec-2 .container{
    position: relative;
}
.moving-gif {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    animation: moveRight 3s linear infinite;
}
.moving-gif2 {
    transform: translateY(-50%);
    animation: moveRight 6s linear infinite;
}

@keyframes moveRight {
    0% {
        left: 0;
        /* Start position */
    }

    100% {
        left: calc(100% - 100px);
    }
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
        #mainMenu {
            top: 30px;
        }
        #mainMenu h2 {
            color: var(--white);
            text-transform: uppercase;
            font-size: 2.7rem;
        }
    
        #mainMenu h2 span {
            color: #ff0000;
            font-size: 3.2rem;
        }
    #sec-1 .container #right {
        width: 40%;
    }

    #sec-1 .container #left {
        width: 55%;
        height: 42vh;
    }
    #sec-1 .container #left h1{
        font-size:4.1rem;
        margin:0;
    }
    #sec-1 .container #left p {
        font-size: 1.5rem;
        margin: 0;
    }
    #sec-1 .container #left .btn {
        width: 200px;

    }
    #sec-2 .container summary {
        height: 85vh;
        border-bottom: 3px solid var(--white);
    }
    #sec-2 .container h2 {
        font-size: 5em;
    }
    #sec-2 .container summary .left h3 {
        margin-bottom: 20px;
    }
    #sec-2 .container summary .left p{
        font-size: 1.3rem;
        line-height: 2rem;
        text-align: justify;
    }
    
#sec-3 .container{
    flex-wrap: nowrap;
}
#sec-3 .container .card {
    height: 330px;
    width: 30%;
}

#sec-3 .container .card:last-child {
    width: 30%;
}

#sec-3 .container .card h3 {
    font-size: 1.5rem;
    margin: 15px 0;
}

#sec-3 .container .card p {
    font-size: 1.1rem;
}


}

@media (min-width: 1400px) {
    .container {
        width: 1200px;
    }

}